{% extends 'eZDemoBundle::pagelayout.html.twig' %}

{% block content %}
    <div id="fb-root"></div>
    <script>
       window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '808033489246752',                        // App ID from the app dashboard
                channelUrl : '//ezpublish.ezsc',      // Channel file for x-domain comms
                status     : true,                                 // Check Facebook Login status
                xfbml      : true,                                  // Look for social plugins on the page
                version:  'v2.0'
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    //alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            //alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>

    {% if error %}
        <div class="alert alert-danger">
            <p><strong>{{ error.message|trans }}</strong></p>
        </div>
    {% endif %}

    <div class="row">
        <div class="login-box">
            <h2>{{ 'Login'|trans }}</h2>
            <hr/>
            <form class="form-horizontal" action="{{ path( 'login_check' ) }}" method="post">
                <fieldset>

                    <input class="input-large col-xs-12" name="_username" id="username" type="text" placeholder="{{ 'type username'|trans }} value="{{ last_username }}" tabindex="1" />

                    <input class="input-large col-xs-12" name="_password" id="password" type="password" placeholder="{{ 'type password'|trans }}" tabindex="1"/>

                    {% if error %}
                        <div class="alert alert-danger">
                            <p><strong>{{ error.message|trans }}</strong></p>
                        </div>
                    {% endif %}

                    <div class="clearfix"></div>

                    <button type="submit" class="btn btn-primary col-xs-12">{{ "Login"|trans }}</button>
                </fieldset>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input type="hidden" name="_target_path" value="/" />
            </form>

            <hr/>
            <h3>{{ "Login with social media"|trans }}:</h3>
            <p>
                {#
                {% for owner in hwi_oauth_resource_owners() %}
                      <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
                {% endfor %}
                #}

            <a href="#" onclick="fb_login();">Connect with Facebook</a>

            </p>

            <hr/>
            <h3>{{ "Forgot Password?"|trans }}</h3>
            <p>{{ "No problem, <a href='forgotpassword'>click here</a> to get a new password"|trans|raw }}</p>

            <hr/>
            <h3>{{ "Don't have an account?"|trans }}</h3>
            <p>{{ "Please, <a href='register'>click here</a> to sign up."|trans|raw}}</p>

        </div>
    </div><!--/row-->
{% endblock %}
